@import "../../../styles/theme.scss";
@import "../../../styles/vars.scss";

.comment {
  @include themify($themes) {
    &__flex {
      display: flex;
      column-gap: 10px;
    }

    &__content {
      background: themed("bg-third");
      padding: 8px 10px;
      border-radius: 10px;
      position: relative;
    }

    &__options {
      align-self: center;
      position: relative;
      svg {
        color: themed("color-first");
        width: 20px;
        height: 20px;
        cursor: pointer;
      }
    }

    &__author {
      font-size: 1.2rem;
      font-weight: $fw-700;
      color: themed("color-first");
      text-align: left;
      @media(min-width: $breakpoint-tablet) {
        font-size: 1.3rem;
      }
    }

    &__desc {
      font-size: 1.3rem;
      color: themed("color-first");
      text-align: left;
      @media(min-width: $breakpoint-tablet) {
        font-size: 1.5rem;
      }
    }

    &__bottom {
      display: flex;
      align-items: center;
      column-gap: 16px;
      justify-content: flex-start;
      max-width: 170px;
      margin-top: 5px;
    }

    &__date {
      font-size: 1.2rem;
      color: $color-gray-fourth;
      text-align: left;
      @media(min-width: $breakpoint-tablet) {
        font-size: 1.3rem;
      }
    }
  }
}