@import "../../../styles/partials/modal.scss";
@import "../../../styles/vars.scss";
@import "../../../styles/theme.scss";

.likes-list {
  @include themify($themes) {
    display: flex;
    flex-flow: column;
    row-gap: 10px;
    max-height: 250px;
    overflow-y: auto;
    width: max-content;
    background: themed("bg-first");

    li {
      display: flex;
      align-items: center;
      column-gap: 10px;
      font-size: 1.5rem;
      font-weight: $fw-700;
      color: themed("color-first");
    }
  }
}