@import "../../client/styles/vars.scss";
@import "../../client/styles/theme.scss";

.friendRequests {
  @include themify($themes) {
    width: 100%;

    h1 {
      padding: 0 20px;
      margin: 30px 0;
      font-size: 2rem;
      color: themed("color-first");
      @media(min-width: $breakpoint-tablet) {
        font-size: 2.5rem;
      }
    }
  }
}