@import "./vars.scss";
@import "../../client/styles/theme.scss";
@import "../../client/styles/partials/button.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  font-family: sans-serif;
}

html, body, #root {
  height: 100%;
}

.error {
  color: $color-red;
  font-size: 1.3rem;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
}

.main {
  @include themify($themes) {
    background: themed("bg");
    display: flex;
  }
}

.theme {
  height: 100vh;
  overflow: auto;

  &--dark {
    background: $theme-dark-bg;

  }
}

.center {
  @include themify($themes) {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: themed("color-first");
  }
}

.header {
  @include themify($themes) {
    padding: 0 20px;
    text-align: center;
    margin: 30px 0;
    font-size: 2rem;
    color: themed("color-first");
    font-weight: $fw-700;
    @media(min-width: $breakpoint-tablet) {
      font-size: 2.5rem;
    }
  }
}

.user-profile-rounded {
  width: 36px;
  height: 36px;
  flex-shrink: 0;

  img {
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
  }

  &--big {
    width: 40px;
    height: 40px;
  }
}

.form-textarea {
  @include themify($themes) {
    border: none;
    outline: none;
    padding: 20px 10px;
    background-color: transparent;
    width: 100%;
    font-family: Arial, sans-serif;
    color: themed("color-first");
    resize: none;

    &--border {
      border: 1px solid themed("color-first");
      border-radius: 10px;
    }
  }
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

* .theme--light::-webkit-scrollbar-thumb {
  background-color: $color-gray-fifth;
}

* .theme--dark::-webkit-scrollbar-thumb {
  background-color: $color-gray-sixth;
}

::-webkit-scrollbar-thumb {
  @include themify($themes) {
    background-color: themed("bg-message");
  }
}