@import "./vars.scss";
@import "../../client/styles/theme.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  font-family: sans-serif;
}

html, body, #root {
  height: 100%;
}

.error {
  color: $color-red;
  font-size: 1.3rem;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
}

.main {
  @include themify($themes) {
    background: themed("bg");
    display: flex;
  }
}

.center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
