//backgrounds
$bg-gray: #f0f2f5;

//colors
$color-blue: #1877f2;
$color-white: #FFFFFF;
$color-gray: #CCC;
$color-gray-second: #F2F2F2;
$color-gray-third: #d7d9de;
$color-red: #f02849;
$color-green: #42b72a;

//box-shadows
$form-box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
$navbar-box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);

//breakpoints
$breakpoint-mobi-l: 425px;
$breakpoint-tablet: 768px;

//font-weight
$fw-700: 700;

