//backgrounds
$bg-gray: #f0f2f5;

//colors
$color-blue: #1877f2;
$color-blue-second: #232e3b;
$color-blue-third: #ebf5ff;
$color-white: #FFFFFF;
$color-white-second: rgba(202,202,203,0.85);
$color-black: #000000;
$color-black-second: rgba(0,0,0,0.85);
$color-gray: #CCC;
$color-gray-second: #F2F2F2;
$color-gray-third: #d7d9de;
$color-gray-fourth: #65676b;
$color-gray-fifth: #e4e6eb;
$color-gray-sixth: #3e4042;
$color-gray-seventh: #B0B3B8;
$color-gray-eighth: #65676B;
$color-red: #f02849;
$color-green: #42b72a;

//box-shadows
$form-box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
$navbar-box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);

//breakpoints
$breakpoint-mobi-m: 375px;
$breakpoint-mobi-l: 425px;
$breakpoint-friends: 500px;
$breakpoint-600: 600px;
$breakpoint-tablet: 768px;
$breakpoint-laptop: 1024px;
$breakpoint-profile: 1250px;

//fonts
$font-default: Arial, sans-serif;

//font-weight
$fw-700: 700;

//themes
$theme-dark-bg: #18191a;
$theme-dark-bg-second: #242526;
$theme-dark-bg-third: #3a3b3c;

$theme-dark-hover-second: #4e4f50;

$theme-dark-color-first: rgb(228, 230, 235);

