//backgrounds
$bg-gray: #f0f2f5;

//colors
$color-blue: #1877f2;
$color-white: #FFFFFF;
$color-gray: #CCC;
$color-red: #f02849;
$color-green: #42b72a;

//box-shadows
$form-box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);

//breakpoints
$breakpoint-tablet: 768px;

