.btn {
  border: none;
  border-radius: 10px;
  font-size: 1.8rem;
  padding: 10px;
  cursor: pointer;
  margin-top: 10px;
  color: $color-white;
  width: 100%;
  min-width: 200px;

  &--blue {
    background: $color-blue;
  }

  &--green {
    background: $color-green;
  }

  &--gray {
    background: $color-gray;
  }

  &--red {
    background: $color-red;
  }

  &--mt-20 {
    margin: 20px auto 0;
  }


  &--no-min-width {
    min-width: unset;
  }
}