@import "../partials/modal.scss";
@import "../vars.scss";
@import "../theme.scss";

.editForm {
  display: flex;
  flex-flow: column;
  row-gap: 20px;
  align-items: center;
  margin-top: 30px;
  @include themify($themes) {
    input {
      padding: 15px;
      width: 100%;
      border-radius: 10px;
      border: 1px solid $color-gray;
      background: themed("bg-second");
      color: themed("color-first");
    }
  }
}