
.slide {
  //min-width: 25%!important;
  text-align: center;
}
.slide > div{
  margin: 0 auto;
}
.carousel.carousel-slider .control-arrow {
  background: $color-gray-fourth !important;
}

.slider-wrapper {
  height: 270px;
}