@import "../../../styles/vars.scss";

.post {
  &__interactions {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }

  &__interaction {
    display: flex;
    align-items: center;
    column-gap: 5px;
    cursor: pointer;

    p {
      color: $color-gray-fourth;
      font-size: 1.5rem;
    }

    svg {
      background: $color-blue;
      border-radius: 50%;
      fill: $color-white;
      padding: 2px;
    }

    &--comment {
      width: 100%;
      justify-content: flex-end;
      cursor: unset;

      p {
        cursor: pointer;
      }
    }
  }
}