@import "../../client/styles/vars.scss";
@import "../../client/styles/theme.scss";

.leftMenu {
  @include themify($themes) {
    flex: 2;
    position: sticky;
    top: 70px;
    height: calc(100vh - 70px);
    background: themed("bg");
    &__wrapper {
      padding: 0 20px;
    }

    &__list {
      border-bottom: 1px solid themed("bg-third");
      padding: 10px 0;
      &-item {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        column-gap: 5px;
        cursor: pointer;
        padding: 10px;
        border-radius: 10px;
        transition: all .4s;
        color: themed("color-first");
        position: relative;

        p {
          font-size: 1.5rem;
          font-weight: $fw-700;
        }

        svg {
          height: 25px;
          width: 25px;
        }

        img {
          width: 25px;
          height: 25px;
          object-fit: cover;
          border-radius: 50%;
        }

        &:hover {
          background-color: themed("bg-hover-first");
        }
      }
    }
  }
}