@import "../../../styles/theme.scss";

.leftMenu {
  display: none;
  @media(min-width: $breakpoint-tablet) {
    display: block;
  }
  @include themify($themes) {
    flex: 2;
    position: sticky;
    top: 70px;
    height: calc(100vh - 70px);
    background: themed("bg");
    &__wrapper {
      padding: 0 20px;
    }
  }
}