@import "../../../styles/vars.scss";
@import "../../../styles/theme.scss";

.chat {
  @include themify($themes) {
    &__message {
      display: flex;
      flex-flow: row-reverse;
      justify-content: start;
      position: relative;
      column-gap: 10px;
      width: max-content;
      max-width: 100%;


      &-text {
        background: themed("bg-message");
        padding: 10px 12px 10px 12px;
        border-radius: 25px;
        font-size: 1.5rem;
        color: themed("color-first");
        word-wrap: break-word;
        width: max-content;
        max-width: 100%;
        @media(min-width: $breakpoint-600) {
          max-width: 450px;
        }
      }
      
      &-img {
        display: none;
        @media(min-width: $breakpoint-tablet) {
          display: block;
        }
      }

      &-date {
        position: absolute;
        background: themed("bg-message-date");
        padding: 10px;
        border-radius: 10px;
        color: themed("color-second");
        width: max-content;
        @media(min-width: $breakpoint-laptop) {
          right: -110px;
        }
      }

    //owner message styles
      &--is-owner {
        align-self: flex-end;
        justify-content: end;
        flex-flow: row;
        .chat__message {
          &-text {
            background: $color-blue;
            color: $color-white;
          }
          &-date {
            @media(min-width: $breakpoint-laptop){
              right: unset;
              left: -110px;
            }
          }
        }
      }
    }
  }
}
