@import "../../../styles/vars.scss";
@import "../../../styles/theme.scss";

.navbar {
  @include themify($themes) {
    width: 100%;
    background-color: themed("bg-second");
    box-shadow: $navbar-box-shadow;
    position: sticky;
    top: 0;
    z-index: 30;

    &__wrapper {
      padding: 15px;
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: space-between;

      @media(min-width: $breakpoint-tablet) {
        padding: 15px 60px;
      }
    }

    &__logo {
      h1 {
        color: $color-blue;
        font-size: 1.2rem;
        @media(min-width: $breakpoint-mobi-m) {
          font-size: 1.5rem;
        }
        @media(min-width: $breakpoint-mobi-l) {
          font-size: 1.7rem;
        }
        @media(min-width: $breakpoint-tablet) {
          font-size: 2.5rem;
        }
      }
    }

    &__search {
      width: 50%;
      margin: 0 auto;
      position: relative;
      form > input {
        background: themed("bg-third");
        padding: 10px;
        border-radius: 20px;
        border: none;
        width: 100%;
        color: themed("color-first");
      }
      &-btn {
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translate(0, -50%);
        border: none;
        width: 20px;
        height: 20px;
        background: none;
        cursor: pointer;
        svg {
          width: 100%;
          height: 100%;
          color: themed("color-first");
        }
      }
    }

    &__items {
      display: flex;
      column-gap: 7px;
      @media(min-width: $breakpoint-tablet) {
        column-gap: 20px;
      }
    }

    &__item {
      position: relative;
      width: 40px;
      height: 40px;
      background-color: themed("bg-third");
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      transition: all .4s;

      svg {
        width: 50%;
        height: 50%;
        fill: themed("color-first");
      }

      a {
        display: flex;
        justify-content: center;
      }

      &:hover {
        background-color: themed("bg-hover-second");
      }
    }

    &__img {
      img {
        border-radius: 50%;
        width: 40px;
        height: 40px;
        object-fit: cover;

      }
    }

    &__counter {
      width: 15px;
      height: 15px;
      color: $color-white;
      background: $color-red;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: $fw-700;
      border-radius: 50%;
      position: absolute;
      bottom: -4px;
      left: 2px;
    }

    &__icon {
      display: none;
      @media(min-width: $breakpoint-tablet) {
        display: flex;
      }
    }

    &__mobile-menu-trigger {
      display: flex;
      @media(min-width: $breakpoint-tablet) {
        display: none;
      }
    }

    &__mobile {
      position: absolute;
      background: themed("bg");
      height: 100vh;
      width: 100%;
    }
  }
}